<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono&Glory:ital,wght@1,300&display=swap" rel="stylesheet"> 
    <title>ADMIN PROYECTOS</title>
</head>
<body>
    <div id="body" class="body">
        <nav class="navbar navbar-light bg-light fixed-top navbar-mod">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    Portafolio Servicios 
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title font-azeret-mono" id="offcanvasNavbarLabel">Desarrollador Web</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body offcanvas-mod">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item line-border-bottom">
                                <a class="nav-link font-azeret-mono active" aria-current="page" href="#">
                                    <span>
                                        Acerca de Mi
                                    </span>
                                    <span class="point"><</span>
                                </a>
                            </li>
                            <li class="nav-item line-border-bottom">
                                <a class="nav-link font-azeret-mono" href="#">
                                    <span>
                                        Estudios
                                    </span>
                                    <span class="point"><</span>
                                </a>
                            </li>
                            <li class="nav-item line-border-bottom">
                                <a class="nav-link font-azeret-mono" href="#">
                                    <span>
                                        Experiencias
                                    </span>
                                    <span class="point"><</span>
                                </a>
                            </li>
    
                            <li class="nav-item line-border-bottom">
                                <a class="nav-link font-azeret-mono" href="#">
                                    <span>
                                        Proyectos
                                    </span>
                                    <span class="point"><</span>
                                </a>
                            </li>
                            <li class="nav-item line-border-bottom">
                                <a class="nav-link font-azeret-mono" href="#">
                                    <span>
                                        Atribuciones
                                        <!--<a href='https://www.freepik.es/vectores/flecha'>Vector de Flecha creado por pch.vector - www.freepik.es</a>-->
                                    </span>
                                    <span class="point"><</span>
                                </a>
                            </li>
                            <li class="nav-item line-border-bottom herramienta-lenguaje">
                                <a class="nav-link font-azeret-mono" href="#">
                                    <span>
                                        Lenguaje Implementado
                                    </span>
                                    <span class="point"><</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="contenido d-flex justify-content-center">
            <div class="">
                <h1>Login</h1>
                <div class="form-group d-block">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <table class="mb-5">
                            {{login.as_table}}
                            <tr>
                                <td>
                                    <span class="{{acceso_estilo}}">{{ acceso }}</span>
                                </td>
                            </tr>
                        </table>
                        <div class="d-flex justify-content-end">
                            <input class="btn btn-success" type="submit">
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
        <footer class="font-glory-sans-serif">
            <div class="mx-5">
                Luis Alfredo Mejias Valero - (+57) 322-336-7528 - lonnath.dev@gmail.com 
            </div>
            <span class="font-10">
                Este portafolio solo es para enseñar las capacidades que poseo en el area de desarrollo, los diseños usados pueden pertenecer a otros autores y por ende hay una sección en cada proyecto llamada atribuciones en la cual se comparte la información referente a los autores de los diseños.
            </span>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="{% static 'js/visuales.js' %}"></script>
</body>
</html>